name: Publicar Pagina a Surge.sh

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Clona el repositorio
      uses: actions/checkout@v3

    - name: configura nodejs  
      uses: actions/setup-node@v3
      with:
          node-version: '18' 

    - name: Build y Deploy
      run: |
        # Configurar Surge.sh
        npm install --global surge
        surge token ${{ secrets.SURGE_API_KEY }}

        # Desplegar en Surge.sh
        surge --project ./ --domain ${{ secrets.SURGE_SUBDOMAIN }}